

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #090e16;
  background-repeat: no-repeat;
  /*
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%), url("./images/background-low-quality.jpg");
  
  background-size: cover;
  */
}

.Header {
  padding: 5vmin;
}

#Avatar {
  width: 16vmin;
  border: 0.5vmin;
	border-style: solid;
	border-color: rgb(190, 190, 190);
  border-radius: 1vmin;
}

#text-container {
  padding-left: 5vmin;
  text-align: left;
  font-family: 'Helvetica Neue';
  color: azure;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
  border: 5px;
	border-style: solid;
	border-color: rgb(190, 190, 190);
	border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    
  }
}


.App-header {
  
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
*/

#Bruno-Name {
  font-size: 3vmin;
  padding: 0.5vmin;
}

#Bruno-Description {
  font-size: 2.5vmin;
  padding: 0.5vmin;
}

#Bruno-Description-individual {
  margin:0.5vmin;
}



.SideBar {
  background-color: #090e16;
  margin-top: 5vmin;
  align-content: center;
  color: #2fa2c2;
  font-size: 2vmin;
}

.SideBar:hover {
  color: #9ec9d4
}

#SideBarButtons {
  align-content: center;
}

#SideBarButtonsSingle{
  margin: 0.5vmin;
  font-size: 2.5vmin;
}

.App-link {
  font-size: 2vmin;
  color: #2fa2c2;
}

.App-link:hover {
  color: #9ec9d4
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(90deg);
  }
}
